<nav class="navbar ms-5 me-5 mb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <div></div>
    <div class="navbar-content ml-auto">
        <button class="btn btn-secondary m-3 me-3" type="button" onclick="window.location = 'https://github.com/ripta/crds-dev-doc'"><i class="fa-brands fa-github"></i></button>
        <button class="mode-toggle btn" type="button"><i class="fas fa-moon" aria-hidden="true"></i><span class="sr-only">Toggle Dark Mode</span></button>
    </div>
</nav>

<div class="content-wrapper home-page">
    <div class="container mt-md-20">
        <div class="content hero">
            <h1 class="text-center site-title">
                crds.r8y.page
            </h1>
            <div id="repo_go"></div>
            <p class="text-center">
                The code for crds.r8y.page can be found on GitHub at <a href="https://github.com/ripta/crds-dev-doc">ripta/crds-dev-doc</a>;<br>
                it was forked from <a href="https://github.com/crdsdev/doc">crdsdev/doc</a>, which hadn't been updated in a while.
            </p>
            <p>
                Only public repos on github.com are currently supported. Repositories must contain the CRD manifests in
                YAML format (e.g., not JSON, not a helm chart template), have the kind <code>CustomResourceDefinition</code>,
                be named ending with <code>.yaml</code>, and be able to pass the
                <a href="https://pkg.go.dev/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation">Kubernetes CRD validator</a>.
            </p>
            <p>
                To find a repo, search for <kbd>github.com/{org}/{repo}</kbd>. This takes you to the latest version indexed.<br>
                <strong>e.g., </strong> <a href="/repo/github.com/crossplane/crossplane">github.com/crossplane/crossplane</a>
            </p>
            <p>
                To find a repo at a specific tag, search for <kbd>github.com/{org}/{repo}@{version}</kbd>.<br>
                <strong>e.g., </strong> <a href="/repo/github.com/crossplane/crossplane@v2.0.0">github.com/crossplane/crossplane@v2.0.0</a>
                or <a href="/repo/github.com/prometheus-operator/prometheus-operator@pkg/apis/monitoring/v0.65.2">github.com/prometheus-operator/prometheus-operator@pkg/apis/monitoring/v0.65.2</a>
            </p>
            <p>
                To find a CRD by its GVK, search for <kbd>{group}/{version}/{kind}</kbd>.
                This takes you to a list of all repos and versions that contain that GVK.<br>
                <strong>e.g., </strong> <a href="/gvk/monitoring.coreos.com/v1/Prometheus">monitoring.coreos.com/v1/Prometheus</a>
            </p>
            <p>
                To list all kinds within a group-version, search for <kbd>{group}/{version}</kbd>.<br>
                <strong>e.g., </strong> <a href="/gvk/monitoring.coreos.com/v1">monitoring.coreos.com/v1</a>
            </p>
            <p>
                To list all versions within a group, search for <kbd>{group}</kbd>.<br>
                <strong>e.g., </strong> <a href="/gvk/monitoring.coreos.com">monitoring.coreos.com</a>
            </p>
            <p>
                You can also explore <a href="/recent">the most recently indexed repositories</a>,
                or <a href="/gvk">an index of all indexed CRDs by group</a>.
            </p>
        </div>
    </div>
</div>

{{ template "_scripts" . }}
<script type="module">
    const { useState, useRef, useEffect } = React;
    const { html } = htmReact;

    function RepoGo() {
        const [url, setUrl] = useState('');
        const input = useRef(null);

        const onSubmit = e => {
            const urlParts = url
                .replace(/https?:\/\//, "")
                .split("/");
            urlParts[0] = urlParts[0].toLowerCase();
            if (urlParts[0] === "github.com") {
                window.location.assign(`/repo/${urlParts.join("/")}`);
            } else {
                window.location.assign(`/gvk/${urlParts.join("/")}`);
            }
            e.preventDefault();
        };

        useEffect(() => {
            halfmoon.keydownHandler = e => {
                if (!(document.querySelector("input:focus") || document.querySelector("textarea:focus") || document.querySelector("select:focus"))) {
                    // Focus the repository search input when [/] is pressed
                    if (event.which == 191) {
                        input.current && input.current.focus();
                        e.preventDefault();
                    }
                }
            }
        }, []);

        return html`
        <form class="input-group input-group-lg" onSubmit=${onSubmit}>
            <div class="input-group-prepend">
                <span class="input-group-text"><kbd class="ml-5">/</kbd></span>
            </div>
            <input ref=${input} type="text" class="form-control" placeholder="github.com/crossplane/provider-gcp" onInput=${e => setUrl(e.target.value)} value=${url} />
            <div class="input-group-append">
                <button class="btn btn-primary" type="search">Go</span>
            </div>
        </form>`;
    }
    const root = ReactDOM.createRoot(document.getElementById("repo_go"));
    root.render(html`<${RepoGo} />`);
</script>

<style>
    .home-page .hero {
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    .home-page .hero .site-title {
        margin-bottom: 2rem;
    }

    .home-page .org-links {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .home-page .org-link {
        font-size: 2rem;
    }

    @media screen and (max-width: 575px) {
        .home-page .org-links {
            row-gap: .5rem;
        }

        .home-page .org-link {
            font-size: 1.6rem;
        }
    }
</style>
