<nav class="navbar ms-5 me-5 mb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <div></div>
    <div class="navbar-content ml-auto">
        <button class="btn btn-secondary m-3 me-3" type="button" onclick="window.location = 'https://github.com/ripta/crds-dev-doc'"><i class="fa-brands fa-github"></i></button>
        <button class="mode-toggle btn" type="button"><i class="fas fa-moon" aria-hidden="true"></i><span class="sr-only">Toggle Dark Mode</span></button>
    </div>
</nav>

<div class="content-wrapper home-page">
    <div class="container">
        <div class="content hero">
            <h1 class="text-center site-title">
                Custom Resource Definition Docs
            </h1>
            <div id="repo_go" class="mt-3 mb-4"></div>

            <p class="mt-3 mb-4 text-center">
                You can also explore <a href="/recent">the most recent tags</a>,
                or browse <a href="/gvk">all indexed CRDs by group</a>.
            </p>

            <div class="collapse-group">
                <details class="collapse-panel border border-start mt-2">
                    <summary class="collapse-header position-relative bg-primary-subtle p-2 ps-3">
                        <strong>Why are there no CRDs for my repo, even though it's indexed?</strong>
                    </summary>
                    <div class="collapse-content p-3">
                        <p>
                            Only public repos on github.com are currently supported. Repositories must contain the CRD manifests in
                            YAML format (i.e., not a helm chart template), have the kind <code>CustomResourceDefinition</code>,
                            be named ending with <code>.yaml</code>, and be able to pass the
                            <a href="https://pkg.go.dev/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation">Kubernetes CRD validator</a>.
                            Go source files are not currently sufficient, since we don't run Kubernetes code generation tools.
                        </p>
                        <p>
                            If your repo meets these criteria and you still don't see any CRDs, consider opening an issue on
                            <a href="https://github.com/ripta/crds-dev-doc">the project repository</a>, or contributing a fix.
                        </p>
                    </div>
                </details>

                <details class="collapse-panel border border-start mt-2">
                    <summary class="collapse-header position-relative bg-primary-subtle p-2 ps-3">
                        <strong>What kinds of queries do you support?</strong>
                    </summary>
                    <div class="collapse-content p-3">
                        <p>
                            This site supports two kinds of queries: repository lookups and GVK lookups.
                        </p>
                        <p>
                            For new repositories, or new versions of existing repositories:
                        </p>
                        <ul>
                            <li>
                                To find a repo, search for <kbd class="text-dark bg-dark-subtle pe-2 ps-2">github.com/{org}/{repo}</kbd>.
                                This shows you a list of all versions of that repo that have been indexed.
                                <strong>e.g., </strong> <a href="/repo/github.com/crossplane/crossplane">github.com/crossplane/crossplane</a>
                            </li>
                            <li>
                                To find a repo at a specific tag, search for <kbd class="text-dark bg-dark-subtle pe-2 ps-2">github.com/{org}/{repo}@{version}</kbd>.
                                <strong>e.g., </strong> <a href="/repo/github.com/crossplane/crossplane@v2.0.0">github.com/crossplane/crossplane@v2.0.0</a>
                                or <a href="/repo/github.com/prometheus-operator/prometheus-operator@pkg/apis/monitoring/v0.65.2">github.com/prometheus-operator/prometheus-operator@pkg/apis/monitoring/v0.65.2</a>
                            </li>
                        </ul>
                        <p>
                            Once a repository is indexed by name, its GVKs can be browsed directly by name:
                        </p>
                        <ul>
                            <li>
                                To find a CRD by its GVK, search for <kbd class="text-dark bg-dark-subtle pe-2 ps-2">{group}/{version}/{kind}</kbd>.
                                This takes you to a list of all repos and versions that contain that GVK.
                                <strong>e.g., </strong> <a href="/gvk/monitoring.coreos.com/v1/Prometheus">monitoring.coreos.com/v1/Prometheus</a>
                            </li>
                            <li>
                                To list all kinds within a group-version, search for <kbd class="text-dark bg-dark-subtle pe-2 ps-2">{group}/{version}</kbd>.
                                <strong>e.g., </strong> <a href="/gvk/monitoring.coreos.com/v1">monitoring.coreos.com/v1</a>
                            </li>
                            <li>
                                To list all versions within a group, search for <kbd class="text-dark bg-dark-subtle pe-2 ps-2">{group}</kbd>.
                                <strong>e.g., </strong> <a href="/gvk/monitoring.coreos.com">monitoring.coreos.com</a>
                            </li>
                        </ul>
                    </div>
                </details>

                <details class="collapse-panel border border-start mt-2">
                    <summary class="collapse-header position-relative bg-primary-subtle p-2 ps-3">
                        <strong>Are there limits to the number of tags or CRDs you'll index in a repository?</strong>
                    </summary>
                    <div class="collapse-content p-3">
                        <p>
                            Yes, there are several limits to keep in mind:
                        </p>
                        <ul>
                            <li>a tag must be created in last four years;</li>
                            <li>a tag must contain at most 300 CRDs;</li>
                            <li>each YAML file must be at most 500 KiB, though each file may contain any number of CRDs; and</li>
                            <li>indexing must be completed in one minute.</li>
                        </ul>
                    </div>
                </details>

                <details class="collapse-panel border border-start mt-2">
                    <summary class="collapse-header position-relative bg-primary-subtle p-2 ps-3">
                        <strong>Do you accept feature requests and patches?</strong>
                    </summary>
                    <div class="collapse-content p-3">
                        <p>
                            We absolutely accept patches for bug fixes. For more elaborate features, please
                            open an issue first so we can discuss the design.
                        </p>
                        <p>
                            You can find <a href="https://github.com/ripta/crds-dev-doc">the project repository</a> on GitHub.
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>

{{ template "_scripts" . }}
<script type="module">
    const { useState, useRef, useEffect } = React;
    const { html } = htmReact;

    function RepoGo() {
        const [url, setUrl] = useState('');
        const input = useRef(null);

        const onSubmit = e => {
            const urlParts = url
                .replace(/https?:\/\//, "")
                .split("/");
            urlParts[0] = urlParts[0].toLowerCase();
            if (urlParts[0] === "github.com") {
                window.location.assign(`/repo/${urlParts.join("/")}`);
            } else {
                window.location.assign(`/gvk/${urlParts.join("/")}`);
            }
            e.preventDefault();
        };

        useEffect(() => {
            halfmoon.keydownHandler = e => {
                if (!(document.querySelector("input:focus") || document.querySelector("textarea:focus") || document.querySelector("select:focus"))) {
                    // Focus the repository search input when [/] is pressed
                    if (e.which == 191) {
                        input.current && input.current.focus();
                        e.preventDefault();
                    }
                }
            }
        }, []);

        return html`
        <form class="input-group input-group-lg" onSubmit=${onSubmit}>
            <span class="input-group-text"><kbd class="ps-3 pe-3">/</kbd></span>
            <input ref=${input} type="text" class="form-control" placeholder="e.g., github.com/crossplane/crossplane@v2.0.0" onInput=${e => setUrl(e.target.value)} value=${url} />
            <button class="btn btn-primary ps-3 pe-3" type="search">Go</span>
        </form>`;
    }
    const root = ReactDOM.createRoot(document.getElementById("repo_go"));
    root.render(html`<${RepoGo} />`);
</script>

<style>
    .home-page .hero {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .home-page .hero .site-title {
        margin-bottom: 2rem;
    }

    .home-page .collapse-header {
        cursor: pointer;
        user-select: none;
    }

    .home-page .collapse-header i.fa-chevron-right {
        transition: transform 0.2s ease;
    }

    .home-page details[open] .collapse-header i.fa-chevron-right {
        transform: rotate(90deg);
    }

    @media screen and (max-width: 575px) {
        .home-page .org-links {
            row-gap: .5rem;
        }

        .home-page .org-link {
            font-size: 1.6rem;
        }
    }
</style>
