<!doctype html>
<html data-bs-theme="auto">

<head>
    <title>{{ .Page.Title }}</title>
    {{ template "_head" . }}
    <link rel="stylesheet" href="/static/root.css">
</head>

<body data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">
    <div class="page-wrapper {{if not .Page.DisableNavBar}}with-navbar{{end}}">
        <div class="sticky-alerts toast-container position-fixed top-0 mt-2 start-50 translate-middle-x"></div>
        {{ if not .Page.DisableNavBar }}
        {{ template "_navbar" . }}
        {{ end }}
        {{ yield }}
    </div>
    {{ template "_footer" . }}
</body>

</html>