<ul class="navbar-nav breadcrumb d-flex flex-row mt-3 w-auto flex-grow-1 align-text-top">
    <li class="breadcrumb-item">&nbsp;</li>
    <li class="breadcrumb-item">
        <a href="/repo/github.com/{{ .Repo }}">{{ .Repo }}</a>
        @
        <a href="/repo/github.com/{{ .Repo }}@{{ .Tag }}">{{ .Tag }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/gvk/{{ .Group }}/{{ .Version }}">{{ .Group }}/{{ .Version }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ .Kind }}
    </li>
</ul>